extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-view.pug

block main 
    - if (productsNew)
        .container.my-3 
            .row 
                .col-12 
                    +box-head(titlePage)
            +productView(productsNew)